Source: instantfun
Section: admin
Priority: optional
Maintainer: Dennis Schwertel <s@digitalkultur.net>
Build-Depends: debhelper (>= 5.0.51)
Standards-Version: 3.9.1
Homepage: https://github.com/kinkerl/instantfun

Package: instantfun
Architecture: all
Depends: ${misc:Depends}, python-pygame
Description: sounds on your desktop
 soundboard for your desktop as an indicator
